h1 {  text-align: center;         
color: Blue;}
body.k{
       font-style:Arial;
background-image: url("buttons/texture1.jpg");
background-size:2000px, 2000px;
background-position: center;}
.myclass {     text-align: center;

font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}
h3.d{   color: blue;
  }
  h2.d{   color: blue;
  }
  h1.f{     color: blue;}
